<p id="notice"><%= notice %></p>

<h1>Listing Parking Lots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_lots.each do |parking_lot| %>
      <tr>
        <td><%= parking_lot.name %></td>
        <td><%= link_to 'Show', parking_lot %></td>
        <td><%= link_to 'Edit', edit_parking_lot_path(parking_lot) %></td>
        <td><%= link_to 'Destroy', parking_lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking lot', new_parking_lot_path %>
