<div class='form-group'>
<%= form_for(@floor) do |f| %>
  <% if @floor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

      <ul>
      <% @floor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'form-control' %><br>
    <%= f.text_field :name,  class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :capacity, class: 'form-control' %><br>
    <%= f.number_field :capacity, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :open_spots, class: 'form-control' %><br>
    <%= f.number_field :open_spots, class: 'form-control' %>
  </div>
   <div class="field">
    <%= f.label :cars, class: 'form-control' %><br>
    <%= f.number_field :cars, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>